body {
	background-color: black;
	color: white;
}

/*This is the placeholder deck made of a bunch of images*/
div.deck_card1 {
	top: 20px;
    right: 200px;
	position: absolute;
}

div.deck_card2 {
	top: 40px;
    right: 220px;
	position: absolute;
}

div.deck_card3 {
	top: 60px;
    right: 240px;
	position: absolute;
}

div.deck_card4 {
	top: 80px;
    right: 260px;
	position: absolute;
}

/*This is the left card player side*/
.card1 {
	top: 400px;
	right: 800px;
	position: absolute;
}

/*This is the right card player side*/
.card2 {
	top: 400px;
	right: 600px;
	position: absolute;
}

/*This is the for left card dealer side Flip*/
.card3 {
	top: 100px;
	right: 800px;
	position: absolute;
}

.turncard3_b {
	animation: turncard_b 1s 8s forwards;
}

.turncard3_f {
	transform: rotateY(270deg);
	animation: turncard_f 1s 8.8s forwards;
}
	
/*This is for right card dealer side*/
.card4 {
	top: 100px;
	right: 600px;
	position: absolute;
}

/* This is for the Final Hit card */
.card5_b {
	top: 80px;
	right: 260px;
	position: absolute;
	animation: card5 2s forwards;
}

.card5_f {
	top: 400px;
	right: 1000px;
	position: absolute;
}

@keyframes card5 {
	from {top: 80px;}
	to {top: 400px;
	right: 1000px;
	transform: rotate(180deg);}
}

.turncard5_b {
	animation: turncard_b 1s 2s forwards;
}

.turncard5_f {
	transform: rotateY(270deg);
	animation: turncard_f 1s 2.8s forwards;
}

/*This is for the Final Dealer card */
.card6_b {
	top: 80px;
	right: 260px;
	position: absolute;
	animation: card6 2s 10s forwards;
}

.card6_f {
	top: 100px;
	right: 1000px;
	position: absolute;
}

@keyframes card6 {
	from {top: 80px;}
	to {top: 100px;
	right: 1000px;
	transform: rotate(180deg);}
}

.turncard6_b {
	animation: turncard_b 1s 12s forwards;
}

.turncard6_f {
	transform: rotateY(270deg);
	animation: turncard_f 1s 12.8s forwards;
}

/* Flip Rules */
@keyframes turncard_b {
	from {transform: rotateY(0deg);}
	to {transform: rotateY(90deg);}
}

@keyframes turncard_f {
	from {transform: rotateY(270deg);}
	to {transform: rotateY(360deg);}
}

/* This is for the example talking */
.Dtalk {
	top: 20px;
	left: 150px;
	width: 200px;
	height: auto;
	border: 2px solid white;
	opacity: 0;
	position: absolute;
	animation: talk 1s 4s forwards;
}

.Ptalk {
	bottom: 20px;
	left: 200px;
	width: 200px;
	height: auto;
	border: 2px solid white;
	opacity: 0;
	position: absolute;
	animation: talk 1s 14s forwards;
}

.Choice {
	bottom: 20px;
	right: 300px;
	width: 300px;
	height: auto;
	border: 2px solid white;
	opacity: 0;
	position: absolute;
	animation: talk 1s 18s forwards;
}

@keyframes talk {
	from {opacity: 0;}
	to {opacity: 1;}
}
